li{
    list-style: none;
}

.makeStyles-imageTitle-14:hover{
    color: white !important
}

.makeStyles-imageButton-11:hover{
    color:white;
}


.card{
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.07);
    transition: transform 0.4s;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.card:hover{
    transform: scale(1.08);

}