li{
    list-style: none;
}

.makeStyles-imageTitle-14:hover{
    color: white !important
}

.makeStyles-imageButton-11:hover{
    color:white;
}

.makeStyles-root-1 {
    
    display: flex !important;
    flex-wrap: nowrap !important;
    min-width: 300px !important;
    justify-content: center !important;
    align-content: flex-end !important;
    flex-direction: column !important;
    align-items: center !important;
}

.card{
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.07);
    transition: transform 0.4s;

}

.card:hover{
    transform: scale(0.8);

}