.days-button{
    display: inline-block;
    text-decoration: none;
    background: #b7ff5a;
    color: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #b7ff5a;
    border: dashed 1px black;
    transition: .4s;
   
}

.days-button:hover{
    background: #4d9f00;
    box-shadow: 0px 0px 0px 5px #4d9f00;
    color: white;
    border: dashed 1px white;
}

.days-button-done{
    display: inline-block;
    text-decoration: none;
    background: #4d9f00;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #4d9f00;
    border: dashed 1px white;
    transition: .4s;
   
}

.block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  height: 100%;  
}

.one-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;  
}

.one-side > img{
    width:30rem;  
  }


.days-button-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background-color:#ffffff;
    box-shadow: 1px 1px 5px 0 rgb(102, 100, 100);
    width: 600px;
    padding: 10px;
    margin-bottom: 5px;
}



.anchorAllChall:hover{
    color: #4d9f00
}
