.home-image{
    width:400px;
    height: 300px;
}

.MuiButton-outlinedSecondary{
    color: black !important;
    border: 1px solid green !important;
    outline-style: none;
}

.MuiButton-outlinedSecondary:hover{
    color: green !important;
    border: 1px solid black !important;
    background-color: white !important;
}
