.MuiAppBar-colorPrimary{
    color: black !important;
    background-color: white !important;
}


body{
    background-color: white;
}

.navbar{
    background-color:white;
    padding:5px;
    box-shadow: 1px 1px 5px 0 rgb(102, 100, 100);
    margin-bottom: 70px;
}

.navbar-links{
   font-size: 22px;
   padding-right: 10px;
   padding-left: 10px;
   

}


.heading{
    box-sizing: border-box;
    background-color:#ffffff;
    padding:10px;
    /* box-shadow: 1px 1px 5px 0 rgb(102, 100, 100); */
}


.navbar-links:hover{
    color: #4d9f00 !important
}