.MuiAppBar-colorPrimary{
    color: black !important;
    background-color: white !important;
}


body{
    background-color: white;
}

.navbar{
    background-color:white;
}

.navbar-links{
   font-size: 22px;
   padding-right: 10px;
   padding-left: 10px;
   

}



.navbar-links:hover{
    color: #4d9f00 !important
}