
/*-----Overwriting Material Ui Components-*/
.MuiButton-outlinedSecondary{
    color: black !important;
    border: 1px solid #82d120 !important;
    outline-style: none;
}

.MuiButton-outlinedSecondary:hover{
    color: #82d120  !important;
    border: 1px solid black !important;
    background-color: white !important;
}

.MuiButtonBase-root{
    color: black !important;
    border: 1px solid black !important;
    outline-style: none;
}



.MuiButton-outlined:hover{
    background-color:black

}


.profile-image{

    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

