
/*-----Overwriting Material Ui Components-*/
.MuiButton-outlinedSecondary{
    color: black !important;
    border: 1px solid #35420A !important;
    outline-style: none;
}

.MuiButton-outlinedSecondary:hover{
    color: #35420A  !important;
    border: 1px solid black !important;
    background-color: white !important;
}

/*-----anchor text deco out-*/
/* a{
    text-decoration: none;
} */