body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  font-size: 18px;
  height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  
}

a:hover{
  text-decoration: none !important;
  color: #4d9f00 !important
}

.otherAnc:hover{
  color: #4d9f00 !important

}



